body {
margin:0;
font-family: 'Noto Sans JP', sans-serif;
color: #ffffff;
}

a:link {
  color: #8097CC;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #98B3F2;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #8097CC;
  background-color: transparent;
  text-decoration: underline;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #8097CC;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #98B3F2;}

ul.topnav li a.active {background-color: #98B3F2;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 500px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
  ul.topnav li a {padding: 10px;}
}
