@import url("https://fonts.googleapis.com/css?family=Fira+Code");
body {
  font-family: Fira code;
}
.dark-body {
  background-color: black;
  color: white;
}
.light-body {
  background-color: #f4fff8;
  color: black;
}
.title {
  font-size: calc(1em + 3vw);
  text-align: center;
}
.paragraph {
  font-size: calc(1em + 1vw);
  text-align: center;
}
a {
  text-decoration: none;
}
a:link {
  color: #1069c9;
}
a:visited {
  color: #1069c9;
}
a:hover {
  color: #1069c9;
}
footer {
  font-size: calc(2em);
  padding: 5px;
}
.button {
  position: fixed;
  bottom: 0%;
  left: 0.5%;
}
.email {
  position: fixed;
  bottom: 0%;
  right: 0.5%;
}
.dark-body .emailColor {
  color: white;
}
.light-body .emailColor {
  color: black;
}
.fadeOut {
  animation: fadeInOut 6s infinite;
}
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
